.content{
  

}
h1{
    font-size: 8rem;
    padding: 130px;
}

.home{
    color: rgb(82, 136, 218);

}
.contact{
    
    color: rgb(124, 119, 192);
}
.about{
    color: rgb(104, 185, 181);
}

.login-form{
    background: rgb(236, 122, 122);
    color: white;
    width: 20%;
    margin:80px auto;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 5px;
    
}
.login-form input{
    padding: 10px;
    margin:10px;
    border: none;
    border-radius: 5px;
    
}
.btn{
    padding: 10px 50px;
    margin:20px;
    color: white;
    background: rgb(160, 160, 231);
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
}
nav{
    background: rgb(250, 170, 170);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 200px;
    border-bottom-right-radius: 52px;
    border-bottom-left-radius: 52px;

    
}
.link{
    text-decoration: none;
    /* color: white; */
    font-weight: bold;
    font-size: 2.5rem;
  }

  