@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  

  
}
ul.nav{
  background: rgb(250, 170, 170);
  color: white;
  display: flex;
  justify-content: space-around;
  height: 200px;
  border-bottom-right-radius: 52px;
  border-bottom-left-radius: 52px;


}
.list{
  display: block;
  width: 20%;
  padding: 80px;
  font-family: 'Montserrat', sans-serif;
}

.link{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}
ul{
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
